body{
  height: 3000px;
}

div{
  font-family: ARIAL;
}


.rectangle {
  width: 320px;
  height: 180px;
  background-color: grey;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.button {
  background-color: black;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  position: absolute;
  top:-18px;
  left: -18px;
}