.flexbox {
  display: flex;
  height: 70px;

}

.left{
  background-color: lightpink;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right{
  background-color: lightblue;
  width: 200px;
}

.row2-flexbox{
  display: flex;
  justify-content: space-between;
}

.row1 {
  font-weight: bold;
  font-size: 20px;
}


.row2 {
  background-color: black;
  color: white;

  font-size: 20px;
  
}