body{
  height: 3000px;
}

div{
  font-family: ARIAL;
}
.button {
  background-color: black;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
 
  position: absolute;
  right: 10px;
  top: 10px;
}